html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input {
    text-align: right;
}

label {
    text-align: end;
    width: 100%;
}


.table {
    border: 0px;
    table-layout: fixed;
    width: 100%;
}

input[type="text"] {
    font-size: 40px;
    min-height: 60px;
}
