@model NumberButtonModel

<td>
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-outline-dark btn-lg" onclick="addDigitToDisplay(@Model.Digit)" id="number-button-@Model.Digit">@Model.Digit</button>
    </div>
</td>
