@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>this project provides two simple calculators.</p>
    
    <div class="btn-group-vertical btn-group-lg" role="group" aria-label="Vertical button group">
        <a class="btn btn-outline-dark" asp-area="" asp-controller="ServerSideCalculator" asp-action="Index">Server side calculator</a>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="ClientServerCalculator" asp-action="Index">Client - server calculator</a>
    </div>
</div>
